<p>
  <b><%= t '.title', :title => @room.title %></b>
  
</p>

<p>
  <b><%= t '.location', :location => @room.location %></b>
  
</p>

<p>
  <b><%= t '.description', :description => @room.description %></b>
  
</p>


<%= link_to t('links.edit'), edit_room_path(@room) %> |
<%= link_to t('links.back'), rooms_path %>
